.offcanvas{
    --bs-offcanvas-width: min(300px) !important;
    --bs-offcanvas-bg: rgba(0, 0, 0, 0.54) !important;
}

.nav-link{
    color: #fff !important;
}

.navbar{
    background-color:  rgba(0, 0, 0, 0.54) !important;
   
}

.navbar-brand{
    color: #fff !important;
}


.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
   ;
}



.carousel,.carousel-inner{
    height: 100vh !important;
}

.tokyo,.kyoto,.osaka{
        width: 100%;
        height: 100vh;
        object-fit: fill;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
}

.tokyo{
    background-image: url(../images/tokyo.png);
}

.kyoto{
    background-image: url(../images/kyoto.png);
}

.osaka{
    background-image: url(../images/osaka.png);
}


.banner-txt-div{
position: absolute; 
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

text-align: center;
}

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}
p,h1{
    margin: 0;
    padding: 0;
}
.banner-welcome-txt,.banner-place-txt,.banner-tagline-txt{
    color: #fff;
    font-family: Inter;
}

.banner-welcome-txt{
    font-size: 1.5rem;
    
}


.banner-place-txt{
    font-size: 9rem !important;
    font-weight: 700;

}

.banner-tagline-txt{
    font-size: 1rem;;
    font-weight: 400;

}


.banner-button-explore{
    background-color: red;
    color: white;
    border-radius: 50px;
    border: none;
    width: 250px;
    height: 40px;

}
.banner-button-explore:hover{
    background-color: rgba(0, 0, 0, 0);
    border-style:solid ;
    border-width: 1px;
    border-color:white ;
   
}



@media screen and (max-width: 768px) {
    .banner-place-txt{
        font-size: 5rem !important;
    }

    




}
    


