body{
    background-color: black !important;
}

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

li,ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.loading-area{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;

    background-color: black;
    height: 100vh;
    width: 100vw;
}


.landing-page-wrap{
    margin: 50px;
}

.navbar{
    background-color:  rgba(0, 0, 0, 0.54) !important;
}

.logo-text{
    font-weight: bold;

}

.tokyo,.kyoto,.osaka{
        width: 100%;
        height: 100vh;
        object-fit: fill;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
}

.tokyo{
    background-image: url(../images/tokyo.png);
}

.kyoto{
    background-image: url(../images/kyoto.png);
}

.osaka{
    background-image: url(../images/osaka.png);
}


.banner-txt-div{
position: absolute; 
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

text-align: center;
}


p,h1{
    margin: 0;
    padding: 0;
}
.banner-welcome-txt,.banner-place-txt,.banner-tagline-txt,.logo-text{
    color: #fff;
    font-family: Inter;
}

.banner-welcome-txt{
    font-size: 1.5rem;
    
    
}


.banner-place-txt{
    font-size: 9rem !important;
    font-weight: 700;
    line-height: 120px;

}

.banner-place-japanese{
    font-size: 2.5rem  ;
    color:red;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

font-family: 'Inter';
font-style: normal;
font-weight: 700;
line-height: 77px;

}

.banner-tagline-txt{
    font-size: 1rem;;
    font-weight: 400;

}


.banner-button-explore{
    background-color: red;
    color: white;
    border-radius: 50px;
    border: none;
    width: 250px;
    height: 40px;

}
.banner-button-explore:hover{
    background-color: rgba(0, 0, 0, 0);
    border-style:solid ;
    border-width: 1px;
    border-color:white ;
   
}


/* Discover CSS */

.discover-area{
    padding: 50px 0px 50px 0px;
}

.discover-title-txt,.coordinates-jp,.discover-maintext-txt{
    color: #fff;
    font-family: Inter;
}

.coordinates-jp{
    font-size: 1.5rem;
    font-weight: 400;
    font-weight: bold;
}



.discover-title-txt{
    font-weight: bold;
    font-size: 4rem;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
    line-height: 100px;
}

.discover-maintext-txt{
    font-weight: Light;
    padding: 100px 200px 100px 200px;
}
.discover-image-area{
    height: 300px;
    width: 100%;
  background-image: url(../images/discoverimg.png);

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*  */

/* Gallery Section */
.gallery-section{
    margin-bottom: 50px;
}

/* Footer Area */

.footer-area{
    background-color: rgb(182, 12, 12);
    padding-top: 50px;
}







@media screen and (max-width: 576px) {
    .banner-place-txt{
        font-size: 5rem !important;
        line-height: 70px;
    }

    .banner-place-japanese{
        font-size: 2rem;
    }

    .coordinates-jp{
        font-size: 1rem;
    }
    .discover-title-txt{
        font-size: 2.5rem;
    }
    .discover-image-area{
        height: 400px;
    }

    .discover-maintext-txt{
        padding: 50px 30px 50px 30px;
    }


}
    


